/* ═══════════════════════════════════════
   ACCUEIL (FIX CLEAN)
════════════════════════════════════════ */
#accueil {
  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(circle at center, #0a0a0a, #000000);
}

/* background vidéo */
#bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: saturate(0.65) brightness(0.55);
}

#bg-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background:
    linear-gradient(to bottom,
      rgba(5, 5, 5, 0.75) 0%,
      transparent 25%,
      transparent 75%,
      rgba(5, 5, 5, 0.92) 100%),
    rgba(5, 5, 5, 0.35);
}

/* contenu central */
#accueil-content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  padding: 50px;
  border-radius: 20px;

  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);

  text-align: center;
}

/* titre */
.logo-apo {
  font-family: var(--font-titre);
  font-size: clamp(5rem, 12vw, 10rem);
  letter-spacing: 0.1em;
  color: var(--blanc);

  text-shadow:
    0 0 20px var(--rouge-glow),
    0 0 60px var(--rouge-glow);

  animation: glitch 7s infinite;
}

/* sous-texte */
#accueil p {
  opacity: 0.6;
}

/*  BOUTON PROPRE UNIQUE */
#btn-jouer {
  display: inline-block;

  padding: 1rem 4rem;

  background: var(--rouge);
  /*  visible direct */
  color: white;

  border: none;

  font-family: var(--font-titre);
  font-size: 1.5rem;
  letter-spacing: 0.4em;

  cursor: pointer;

  box-shadow: 0 0 20px var(--rouge-glow);

  transition: all 0.3s;
}

#jeu {
  position: fixed;
  inset: 0;
  z-index: 20;
}

#accueil {
  z-index: 100;
}


/* effet hover */
#btn-jouer::before {
  content: '';
  position: absolute;
  inset: 0;

  background: var(--rouge);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;

  z-index: -1;
}

#btn-jouer:hover::before {
  transform: scaleX(1);
}

#btn-jouer:hover {
  box-shadow:
    0 0 25px var(--rouge-glow),
    0 0 60px var(--rouge-glow);

  letter-spacing: 0.55em;
}


#btn-jouer:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px var(--rouge-glow);
}